{% extends "base/base.html" %}
{% load static %}


{% block content %}
    <main>
        <div id="landing-page">
            <div id="landing-page-desc">
                <h2 class="title">
                    Fantasy League: The ultimate football
                </h2>
                <p class="description">
                    Experience the excitement of managing your own fantasy sports team. Choose your dream team and compete against friends, family, and even your foes in just a few simple steps.
                </p>
                <div class="starting-buttons">
                    <a href="{% url "leagues:league_create" %}" class="anchor-btn">Get Started</a>
                    <a href="{% url "leagues:league_list" %}" class="anchor-btn">View Leagues</a>
                </div>
            </div>
            <div id="landing-page-img">
                <img src="{% static 'images/landing_page_avatar0.png' %}" alt="Sports">
            </div>
        </div>
        <!-- <div id="stats">
            <div>Top Leagues</div>
            <div></div>
            <div></div>
            <div></div>
        </div> -->
        <div>
            <h3 class="txt-center">Welcome to the Ultimate Fantasy League Experience</h3>
            <p>Experience the thrill of managing your own fantasy league where you can handpick your dream team and compete against friends and fellow sport enthusiasts. With our intuitive platform, you have the power to create and customize your own fantasy league, just the way you like it.</p>
        </div>


    </main>
    <footer>
    </footer>
{% endblock content %}