{% extends "base/base.html" %}
{% load static %}
{% load widget_tweaks %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock styles %}


{% block content %}

<main>

    <div id="form-page" class="container">

        {% if league %}
        <h2 class="txt-center">{{ player.name|title }}</h2>
        {% else %}
        <h2 class="txt-center">Register a Player</h2>
        {% endif %}

        <form method="post">
            {% csrf_token %}
            
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.name }}">{{ field.name|title }}:</label>

                {% render_field field name="{{ field.name }}" id="{{ field.name }}" %}
                {% for error in field.errors %}
                <p class="error-msg">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}

            <input type="submit" value="Create League" id="submit-btn" class="btn" >
        </form>
    </div>
</main>
{% endblock content %}