/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --font-color: #000;
    --background-color: #fff;
    --font-color-faded: #000c
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    /* border: 1px dotted red; */
}

html {
    font-size: 14px;
    font-family: Roboto, Poppins;
    font-weight: 500;
    color: var(--font-color);
}

#wrapper {
    margin: 0 200px;
}

#wrapper > * {
    margin-bottom: 30px;
}

#wrapper > *:last-child {
    margin-bottom: unset;
}

/* native tags */
a {
    text-decoration: none;
    color: unset;
}

li {
    list-style-type: none;
}

img {
    height: 100%;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

h3 {
    font-size: 2rem;
}

p {
    color: var(--font-color-faded);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

header > * {
    padding: 1rem 2rem;
}

header > ul:first-of-type {
    padding-right: unset;
    padding-left: unset;
    display: flex;
}

header > .anchor-btn {
    color: var(--background-color);
    background-color: var(--font-color);
}

main > div {
    margin: 10px 0 3rem;
}

ul.nav-links > * {
    margin-right: 15px;
}

ul.nav-links > *:last-child {
    margin-right: unset;
}

/* ids */
#landing-page {
    display: flex;
    justify-content: space-between;
}

#landing-page > * {
    width: 40%;
}

#landing-page-desc {
    height: fit-content;
    margin: auto 0;
}

#landing-page-desc > * {
    margin-bottom: 2rem;
}

#landing-page-desc > *:last-child {
    margin-bottom: unset;
}



/* classes */
.flex {
    display: flex;
}

.txt-center {
    text-align: center;
}

.anchor-btn {
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    padding: 1rem;
    color: var(--background-color);
    background-color: var(--font-color);
    transition: background-color 0.3s;
}

.nav-links li {
    font-size: 0.9rem;
}

.title {
    font-size: 3rem;
    font-weight: 700;
}

.starting-buttons {
    display: flex;
    justify-content: space-between;
}

.starting-buttons .anchor-btn:first-of-type {
    width: 62%;
}

.starting-buttons .anchor-btn:last-of-type {
    width: 35%;
}

.description {
    color: var(--font-color-faded);
}
